@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* LANDING PAGE */

.landing-title {
    color: white;
}

.landing-paragraph {
    color: white;
}

.landing-button {

}

.play-icon {
    font-size: 2rem;
}

/* SideBar Styling */

.sidebar-menu {
    border-right: 1px solid gold;
}

/* Instructions Styling */

.instructions-container,
.help-container {
    display: flex;
    align-items: start;
    flex-direction: column;
}